<div class="container-full">
    <div class="socials">
        <div class="left">
            <h2>ANY QUESTIONS?</h2>
            <div class="contact">
                <p class="phone"><a href="tel:+66 2 365 9110"><i class="fa-solid fa-phone"></i> +66 2 365 9110</a></p>
                <p class="email"><a href="mailto:reserveanantara@anantara.com"><i class="fa-solid fa-envelope"></i> reserveanantara@anantara.com</a></p>
            </div>
            <div class="icons">
                <a href=""><i class="fa-brands fa-facebook-messenger"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                <a href=""><i class="fa-brands fa-telegram"></i></a>
            </div>
        </div>
        <div class="right">
            <h2>STAY CONNECTED</h2>
            <div class="icons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="footer-middle">
    <div class="lists">
        <div class="one">
            <ul>
                <li><a href="">About Anantara</a></li>
                <li><a href="">Buy Gift Cards</a></li>
                <li><a href="">GDS</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="two">
            <ul>
                <li><a href="">Loyalty</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">In the News</a></li>
                <li><a href="">Airline Partners</a></li>
            </ul>
        </div>
        <div class="three">
            <ul>
                <li><a href="">Travel Agents</a></li>
                <li><a href="">Press Releases</a></li>
                <li><a href="">Affiliate Programme</a></li>
                <li><a href="">New Openings</a></li>
            </ul>
        </div>
    </div>
    <div class="subscribe">
        <form action="">
            <input type="text" placeholder="Subscribe to newsletter">
        </form>
    </div>
</div>

<div class="footer-hotels">
    <ul class="footer-brand">
        <li class="footer-brand__item">
            <a routerLink="" class="footer-brand__link"><img src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/brand-footer-logos/minor-logo-new.png" class="colored" alt=""></a>
            <a routerLink="" class="footer-brand__link"><img src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/brand-footer-logos/anantara-brand-logo.png" class="colored" alt=""></a>
            <a routerLink="" class="footer-brand__link"><img src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/brand-footer-logos/avani-brand-logo.png" class="colored" alt=""></a>
            <a routerLink="" class="footer-brand__link"><img src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/brand-footer-logos/elewana-brand-logo.png" class="colored" alt=""></a>
            <a routerLink="" class="footer-brand__link"><img src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/brand-footer-logos/oaks-logo-colored-updated.png" class="colored" alt=""></a>
            <a routerLink="" class="footer-brand__link"><img src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/brand-footer-logos/nh-hotels-brand-logo.png" class="colored" alt=""></a>
            <a routerLink="" class="footer-brand__link"><img src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/brand-footer-logos/nh-collection-brand-logo.png" class="colored" alt=""></a>
            <a routerLink="" class="footer-brand__link"><img src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/brand-footer-logos/nhow-brand-logo.png" class="colored" alt=""></a>
            <a routerLink="" class="footer-brand__link"><img src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/tivoli/logos/tivoli-logo-update.png" class="colored" alt=""></a>
        </li>
    </ul>
</div>

<div class="footer-bottom">
    <div class="footer-detail">
        <div class="container cont">
            <p class="copyright">
                <span>© 2023 Anantara Hotels, Resorts & Spas</span>
            </p>
            <img class="img"src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/anantara/images/brandpage/homepage/gha_discovery_new_logo_143x24.png" alt="">
            <div class="joboy">
                <p>Powered by <a href="https://www.instagram.com/joboytheeone/">The Alchemist</a></p>
            </div>
        </div>
    </div>
</div>
