<div class="section--center-content">
    <div class="full-bg card">
        <div class="card-image image-fluid p-0 m-0">
            <img src="../../../assets/images/full-bg-image.webp" alt="xxxxxxx" height="auto" width="100%">
        </div>
        <div class="card-img-overlay container--mw1140">
            <div class="section-header">
                <p class="section-header__text">DREAM ESCAPES</p>
            </div>
            <div class="t-c-1">
                <p class="p">Experience Anantara with extraordinary offers curated for you.</p>
            </div>
            <div class="section-footer">
                <a routerLink="/villas" class="btn btn-book">BOOK NOW</a>
            </div>
        </div>
    </div>
</div>
<div  class="section--dark-grey container-full">
    <div class="section-header">
        <p class="section-header__title t-xs">Anantara Signature Experiences</p>
    </div>
    <p class="section-header__textt"> YOUR MOST MEMORABLE MOMENTS </p>
    <div class="containerr container--full container-full">
        <div class="card col-md-6 col-sm-12" *ngFor="let country of country">
            <div class="card-image image-fluid p-0 m-0">
                <img src="{{country.image}}" alt="" height="auto" width="100%">
            </div>
            <div class="card-img-overlay one">
                <p class="t-name">{{country.tag_name}}</p>
                <p class="catchy_phrase">{{country.catchy_phrase | titlecase}}</p>
            </div>
            <div class="card-img-overlay two">
                <p class="catchy_phrase">{{country.catchy_phrase | titlecase}}</p>
                <p class="t-name">{{country.name}}</p>
                <p class="explore">EXPLORE</p>
            </div>
        </div>
    </div>
    <div class="section-footerr">
        <a routerLink="/experience" class="btn btn-experience">Explore All Signature Experiences</a>
    </div>
</div>
