<section class="section--center-content">
    <div class="full-bg">
        <img src="../../../assets/images/full-bg-image.webp" alt="xxxxxxx" height="40%" width="100%">

        <div class="container container--mw1140">
            <div class="section-header">
                <p class="section-header__text">DREAM ESCAPES</p>
            </div>
            <div class="t-c-1">
                <p class="p">Experience Anantara with extraordinary offers curated for you.</p>
            </div>
            <div class="section-footer">
                <a routerLink="/villas" class="btn btn-book">BOOK NOW</a>
            </div>
        </div>
    </div>
</section>
<section  class="section--dark-grey">
    <div class="section-header">
        <p class="section-header__title t-xs">Anantara Signature Experiences</p>
    </div>
    <span class="section-header__textt"> YOUR MOST MEMORABLE MOMENTS </span>
    <div class="containerr container--full container-full">
        <div class="card col-md-6 col-sm-12" *ngFor="let country of country">
            <div class="card-image image-fluid p-0 m-0">
                <img src="{{country.image}}" alt="" height="auto" width="100%">
            </div>
            <div class="card-img-overlay one">
                <p class="t-name">{{country.tag_name}}</p>
                <p class="catchy_phrase">{{country.catchy_phrase | titlecase}}</p>
            </div>
            <div class="card-img-overlay two">
                <p class="catchy_phrase">{{country.catchy_phrase | titlecase}}</p>
                <p class="t-name">{{country.name}}</p>
                <p class="explore">EXPLORE</p>
            </div>
        </div>
    </div>
</section>
