<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="https://assets.anantara.com/image/upload/q_auto,f_auto,c_limit,w_1920/media/minor/anantara/images/brandpage/experiences/anantara_experience_maldives_1920x600.jpg" >
    </div>
    
    <div class="mySlides fade">
        <img src="https://assets.anantara.com/image/upload/q_auto,f_auto,c_limit,w_1920/media/minor/anantara/images/brandpage/signature-experiences/anantara_signature_experience_1920x600_2.jpg" >
    </div>
    
    <div class="mySlides fade">
        <img src="https://assets.anantara.com/image/upload/q_auto,f_auto,c_limit,w_1920/media/minor/anantara/images/brandpage/signature-experiences/anantara_signature_experience_1920x600_4.jpg" >
    </div>

    <div class="mySlides fade">
        <img src="https://assets.anantara.com/image/upload/q_auto,f_auto,c_limit,w_1920/media/minor/anantara/images/brandpage/signature-experiences/anantara_signature_experience_1920x600_6.jpg" >
    </div>
</div>


<div class="container-full">
    <div  class="section--dark-grey">
        <div class="section-header">
            <p class="section-header__title t-xs">JOURNEYS OF ADVENTURE AND DISCOVERY</p>
        </div>
        <p class="section-header__textt"> ANANTARA SIGNATURE EXPERIENCES</p>
        <div class="containerr container--full container-full">
            <div class="card col-md-6 col-sm-12" *ngFor="let country of country">
                <div class="card-image image-fluid p-0 m-0">
                    <img src="{{country.image}}" alt="" height="auto" width="100%">
                </div>
                <div class="card-img-overlay one">
                    <p class="t-name">{{country.tag_name}}</p>
                    <p class="catchy_phrase">{{country.catchy_phrase | titlecase}}</p>
                </div>
                <div class="card-img-overlay two">
                    <p class="catchy_phrase">{{country.catchy_phrase | titlecase}}</p>
                    <p class="t-name">{{country.name}}</p>
                    <p class="explore">EXPLORE</p>
                </div>
            </div>
        </div>
        <div class="section-footerr">
            <a routerLink="/experience" class="btn btn-experience">Explore All Signature Experiences</a>
        </div>
    </div>
</div>