  /* start of navbar  */

.navbars ul{
  list-style-type: none;
}

span {
  color: white;
}

.header {
  background-color: #353336;
}

.navbars {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 999;
}

.sec{
  display: flex;
  padding-top: 1%;
}

.left, .right{
  width: 50%;
}

.best{
  height: 16px;
}

.gogo{
  max-height: 65px;
  margin: 0 0;
  transition: max-height 1s cubic-bezier(.19,1,.22,1),margin 1s cubic-bezier(.19,1,.22,1);
}

.book-btn-nav{
  float: right;
  max-width: 35%;
  height: 50px;
  padding: 15px 35px;
  overflow: hidden;
  color: #fff;
  font-weight: 600;
  background-color: #FFC93C;
  border-radius: 0;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 10px 20%;
  margin-bottom: 0;
}

.nav-link{
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  font-size: small;
  padding: 8px 10px;
  line-height: 1em;
  font-weight: 800;
  font-size: small;
  transition: color .25s;
  }

.nav-link:hover {
  color: #999999;
  font-weight: 800;
  cursor: pointer;
}

.nav-logos img {
  font-size: 2.1rem;
  font-weight: 500;
  color: #fff;
  height: auto;
  width: 100%;
}

.menu-header{
  background-color: #353336;
}

.nav-menu-logos{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
}

.nav-menu-logos:hover{
  text-decoration: none;
  color: #fff;
}

.bar{
  background: #FFC93C;
}

.menu-header{
  display: none;
}

/* media screen  */

@media only screen and (max-width: 1306px) {
  .nav-item {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .nav-item {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 1033px) {
  .phoneHeader{
    margin-left: 2rem;
  }

  .contact{
    margin-top: 4rem;
  }

  .serv{
      margin-top: 4rem;  
  }

  .about{
      margin-top: 4rem;  
  }
  
  .menu-header{
    display: block;
    position: fixed;
    width: 100%;
    z-index: 988;
  }

  .nav-menus {
    position: fixed;
    left: -100%;
    top: 5.3rem;
    padding-top: 10%;
    padding-bottom: 10%;
    flex-direction: column;
    background-color: #353336;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 899;
  }

  .nav-menu{
    display: none;
  }

  .nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFC93C;
  }
  
  .nav-link:hover {
    color: #fff;
  }
  
  .nav-menus.active {
    left: 0;
  }

  .nav-items {
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* end of navbar  */

@media only screen and (max-width: 850px) {
  .navbars{
    margin: 0;
    display: flex;
    padding: 0 5px;
  }

  .fixed-top{
    display: none;
  }

  .gaga{
    padding: 10px 0;
    max-height: 85px;
    margin-left: -10%;
    transition: max-height 1s cubic-bezier(.19,1,.22,1),margin 1s cubic-bezier(.19,1,.22,1);
  }

  .book-btn-nav{
    float: right;
    max-width: 85%;
    height: 70px;
    padding: 22px 15px !important;
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    background-color: #FFC93C;
    border-radius: 0;
    font-size: large;
  }

  .hamburger {
    margin: 0;
    max-height: 85px;
    padding-left: 35px;
    border-left: 2px solid #FFC93C;
  }

  .bar{
    height: 5px;
    width: 55px;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 500px) {
  .header{
    display: none;
  }

  .navbars{
    margin: 0;
    display: flex;
    padding: 0 5px;
  }

  .nav-menus {
    position: fixed;
    left: -100%;
    top: 4rem;
    padding-top: 10%;
    padding-bottom: 10%;
    flex-direction: column;
    background-color: #353336;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 899;
  }

  .gaga{
    padding: 10px 0;
    max-height: 65px;
    margin: 0 auto;
    transition: max-height 1s cubic-bezier(.19,1,.22,1),margin 1s cubic-bezier(.19,1,.22,1);
  }

  .book-btn-nav{
    float: right;
    max-width: 45%;
    height: 50px;
    padding: 13px 15px !important;
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    background-color: #FFC93C;
    border-radius: 0;
  }

  .hamburger {
    margin: 0;
    padding-left: 15px;
    border-left: 2px solid #FFC93C;
  }

  .bar{
    height: 3px;
    width: 25px;
    margin: 5px 0;
  }
}