  <div class="container-full">
    <header class="menu-header">
      <nav class="navbars">
        <a routerLink="/villas"  class="btn book-btn-nav">BOOK NOW</a>
        <img  class="gaga" src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/anantara/images/logos/logoanantarawhite.png?h=90&w=182&la=en" routerLink="/">
        <ul class="nav-menus">
            <li class="nav-items">
              <a class="nav-link" routerLink="/country" routerLinkActive="active" ariaCurrentWhenActive="page">DESTINATION</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" routerLink="/offers" routerLinkActive="active" ariaCurrentWhenActive="page">OFFERS</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" routerLink="/experience" routerLinkActive="active" ariaCurrentWhenActive="page">EXPERIENCES</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" routerLink="/dining/dining-list" routerLinkActive="active" ariaCurrentWhenActive="page">DINING</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" routerLink="/wedding/wedding-list" routerLinkActive="active" ariaCurrentWhenActive="page">WEDDINGS</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" routerLink="/sustainability/sustainability-list" routerLinkActive="active" ariaCurrentWhenActive="page">SUSTAINABILITY</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" routerLink="/blog/blog-list" routerLinkActive="active" ariaCurrentWhenActive="page">BLOGS</a>
            </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <header class="header">
      <nav class="navbars">
        <div class="top">
          <a routerLink="/" class="account__link--home">Anantara.com</a>
          <div class="nav-left">
            <a routerLink="/" class="account__link--home"><i class="fa-solid fa-right-to-bracket"></i> LOG IN</a>
            <a routerLink="/" class="account__link--home ink"><i class="fa-solid fa-user"></i> SIGN UP</a>
          </div>
        </div>
        <div class="sec">
          <img class="best" src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/anantara/images/brandpage/homepage/brg-white-new.svg?la=en" alt="">
          <img  class="gogo" src="https://assets.anantara.com/image/upload/q_auto,f_auto/media/minor/anantara/images/logos/logoanantarawhite.png?h=90&w=182&la=en" routerLink="/">
          <a routerLink="/villas"  class="btn book-btn-nav">BOOK NOW</a>
        </div>
        <ul class="nav-menu">
            <li class="nav-item one">
              <a class="nav-link" routerLink="/country" routerLinkActive="active" ariaCurrentWhenActive="page">DESTINATION</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" routerLink="/offers" routerLinkActive="active" ariaCurrentWhenActive="page">OFFERS</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" routerLink="/experience" routerLinkActive="active" ariaCurrentWhenActive="page">EXPERIENCES</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" routerLink="/dining/dining-list" routerLinkActive="active" ariaCurrentWhenActive="page">DINING</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" routerLink="/wedding/wedding-list" routerLinkActive="active" ariaCurrentWhenActive="page">WEDDINGS</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" routerLink="/sustainability/sustainability-list" routerLinkActive="active" ariaCurrentWhenActive="page">SUSTAINABILITY</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" routerLink="/blog/blog-list" routerLinkActive="active" ariaCurrentWhenActive="page">BLOGS</a>
            </li>
        </ul>
      </nav>
    </header>