<nav class="nav">
    <div class="container">
      <ul>
        <li><a routerLink="/villas/villa-list" >HOME</a></li>
  
        <li><a routerLink="/country/country-list">DESTINATION</a></li>
  
        <li><a routerLink="/offers/offer-list">OFFERS</a></li>
  
        <li><a routerLink="/experience/experience-list">EXPERIENCES</a></li>

        <li><a routerLink="/dining/dining-list">DINING</a></li>
  
        <li><a routerLink="/wedding/wedding-list">WEDDINGS</a></li>
  
        <li><a routerLink="/sustainability/sustainability-list">SUSTAINABILITY</a></li>
  
        <li><a routerLink="/blog/blog-list">BLOGS</a></li>
      </ul>
    </div>
  </nav>